* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.contact-container {
    background-color: rgb(220, 207, 20);
    width: 100%;
    height: auto;
}
.header-container {
    border: 2px solid #000;
    width: 100%;
    height: 70vh;
}



.map-section {
    border: 2px solid #000;
    width: 100%;
    height: 350px;
}