@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600&display=swap');



.Home-container {
    width: 100%;
    height: 100vh;
    font-family: 'Nunito', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}
.grid-container {
    width: 90%;
    height: 465.5px;
    display: flex;
    justify-content: space-between;
}
.left-container {
    width: 50%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    align-items: center;
}
.left-container .image1 {
    border: 10px solid rgb(121, 93, 57);
    width: 250px;
    height: 250px;
    border-radius: 50%;
    position: absolute;
    bottom: 10rem;
    background-image: url('https://cdnimg.webstaurantstore.com/uploads/seo_category/2020/11/disposable-retail-packaging.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.left-container .image2 {
    border: 10px solid rgb(121, 93, 57);
    width: 200px;
    height: 200px;
    border-radius: 50%;
    position: absolute;
    background-image: url('https://www.roshpack.com/image/cache/catalog/products/Pizza%20Box/13x13x1.5-Generic-Large-Pizza-Box-Brown-Box-270x270.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.left-container .image3 {
    border: 10px solid rgb(121, 93, 57);
    width: 230px;
    height: 230px;
    border-radius: 50%;
    position: absolute;
    left: 30rem;
    background-image: url('//cdnimg.webstaurantstore.com/uploads/images/2019/8/tin-tie-bags.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.left-container .image4 {
    border: 10px solid rgb(121, 93, 57);
    width: 200px;
    height: 200px;
    border-radius: 50%;
    position: absolute;
    left: 20rem;
    bottom: 7rem;
    background-image: url('https://www.dhresource.com/260x260/f2/albu/g10/M00/80/F9/rBVaWV33T4uAA954AALyTDK0hnU205.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.left-container .image5 {
    border: 10px solid rgb(121, 93, 57);
    width: 200px;
    height: 200px;
    border-radius: 50%;
    position: absolute;
    left: 30rem;
    bottom: 14rem;
    background-image: url('https://ae01.alicdn.com/kf/H7c91c61af45f4741a8c2e9946bba1f26I/50pcs-High-quality-black-disposable-coffee-cup-280ml-400ml-500ml-milk-tea-soy-juice-drinking-packaging.jpg_Q90.jpg_.webp');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.left-container .image6 {
    border: 10px solid rgb(121, 93, 57);
    width: 200px;
    height: 200px;
    border-radius: 50%;
    position: absolute;
    left: 15rem;
    background-image: url('https://i.pinimg.com/originals/fa/c8/36/fac836867fd1bc4a3ebf2c3d724bf88e.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.right-container {
    width: 40%;
    height: 90%;
    background-color: rgb(121, 93, 57);
    border-radius: 25px 25px 25px 0;
    padding: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.right-container h1 {
    color: #fff;
    -webkit-transform: rotate(-90deg); 
    -moz-transform: rotate(-90deg);   
    font-weight: 800;
    font-size: 45px;
}
.right-container p {
    color: #fff;
} 

.high-quality {
    padding: 7px 30px;
    border: none;
    outline: none;
    margin-top: .5rem;
    background-color: rgb(87, 66, 39) ;
    color: #fff;
    border-radius: 50px;
}
.main-container {
    width: 100%;
    height: auto;
    /*background-color: rgb(121, 93, 57);*/
    padding-top: 7rem;
    font-family: 'Poppins', sans-serif;
    padding: 7rem 5rem 0 5rem;
}
.feature-container{
    width: 100%;
    height: 1250px;
    margin: 0 auto;
    font-family: 'Poppins', sans-serif;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 20px;
}
.feature-container .features {
    /*border: 2px solid rgb(6, 235, 25);*/
    padding: 20px;
    border-radius: 25px 25px 25px 0;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(121, 93, 57, 0.44);
    -moz-box-shadow:    0px 0px 5px 0px rgba(121, 93, 57, 0.44);
    box-shadow:         0px 0px 5px 0px rgba(121, 93, 57, 0.44);
    background-color: rgb(121, 93, 57);
}

/* features 1 */

.features .feature-1-img {
    background-image: url('https://cdnimg.webstaurantstore.com/uploads/seo_category/2020/9/f-take-out-containers.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 200px;
    border-radius: 25px;
    text-indent: -9999px;
}
.features .feature-1-text {
    padding: 20px 0 0 0;
    color: #fff;
}
.features .feature-1-text h2 {
    font-size: 20px;
    color: #fff;
}
.features .feature-1-text p {
    font-size: 13.5px;
    color: rgba(255, 255, 255, 0.685);
    
}.features .feature-1-text span {
    font-size: 13.5px;
    color: rgb(0, 0, 0);
}
.features .feature-1-img:hover {
    background-color: rgb(250, 93, 93);
    cursor: pointer;
    text-indent: 0;
    z-index: 0;
}


/* features 2 */

.features .feature-2-img {
    background-image: url('https://cdnimg.webstaurantstore.com/uploads/seo_category/2020/11/disposable-bags.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 200px;
    border-radius: 25px;
}
.features .feature-2-text {
    padding: 20px 0 0 0;
}
.features .feature-2-text h2 {
    font-size: 20px;    
    color: #fff;
}
.features .feature-2-text p {
    font-size: 13.5px;
    color: rgba(255, 255, 255, 0.685);
    
}.features .feature-2-text span {
    font-size: 13.5px;
    color: rgb(0, 0, 0);
}


/* features 3 */

.features .feature-3-img {
    background-image: url('https://cdnimg.webstaurantstore.com/uploads/seo_category/2020/9/f-plastic-disposables.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 200px;
    border-radius: 25px;
}
.features .feature-3-text {
    padding: 20px 0 0 0;
}
.features .feature-3-text h2 {
    font-size: 20px;
    color: #fff;
}
.features .feature-3-text p {
    font-size: 13.5px;
    color: rgba(255, 255, 255, 0.685);
    
}.features .feature-3-text span {
    font-size: 13.5px;
    color: rgb(0, 0, 0);
}

/* features 4 */

.features .feature-4-img {
    background-image: url('https://www.lavanguardia.com/files/og_thumbnail/uploads/2020/06/08/5ede21e26c137.jpeg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 200px;
    border-radius: 25px;
}
.features .feature-4-text {
    padding: 20px 0 0 0;
}
.features .feature-4-text h2 {
    font-size: 20px;
    color: #fff;
}
.features .feature-4-text p {
    font-size: 13.5px;
    color: rgba(255, 255, 255, 0.685);
    
}.features .feature-4-text span {
    font-size: 13.5px;
    color: rgb(0, 0, 0);
}

/* features 5 */

.features .feature-5-img {
    background-image: url('https://cdnimg.webstaurantstore.com/uploads/seo_category/2020/9/f-eco-friendly-disposables.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 200px;
    border-radius: 25px;
}
.features .feature-5-text {
    padding: 20px 0 0 0;
}
.features .feature-5-text h2 {
    font-size: 20px;
    color: #fff;
}
.features .feature-5-text p {
    font-size: 13.5px;
    color: rgba(255, 255, 255, 0.685);
    
}.features .feature-5-text span {
    font-size: 13.5px;
    color: rgb(0, 0, 0);
}


/* features 6 */

.features .feature-6-img {
    background-image: url('https://cdnimg.webstaurantstore.com/uploads/seo_category/2020/9/f-catering-disposables.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 200px;
    border-radius: 25px;
}
.features .feature-6-text {
    padding: 20px 0 0 0;
}
.features .feature-6-text h2 {
    font-size: 20px;
    color: #fff;
}
.features .feature-6-text p {
    font-size: 13.5px;
    color: rgba(255, 255, 255, 0.747);
    
}.features .feature-6-text span {
    font-size: 13.5px;
    color: rgb(0, 0, 0);
}

/* features 7 */

.features .feature-7-img {
    background-image: url('https://cdnimg.webstaurantstore.com/uploads/seo_category/2020/9/f-disposable-food-packaging.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 200px;
    border-radius: 25px;
}
.features .feature-7-text {
    padding: 20px 0 0 0;
}
.features .feature-7-text h2 {
    font-size: 20px;
    color: #fff;
}
.features .feature-7-text p {
    font-size: 13.5px;
    color: rgba(255, 255, 255, 0.747);
    
}.features .feature-7-text span {
    font-size: 13.5px;
    color: rgb(0, 0, 0);
}

/* features 8 */

.features .feature-8-img {
    background-image: url('https://english.nna.jp/uploads/english_article_image/image/21716/show_image-1604462808845.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 200px;
    border-radius: 25px;
}
.features .feature-8-text {
    padding: 20px 0 0 0;
}
.features .feature-8-text h2 {
    font-size: 20px;
    color: #fff;
}
.features .feature-8-text p {
    font-size: 13.5px;
    color: rgba(255, 255, 255, 0.747);
    
}.features .feature-8-text span {
    font-size: 13.5px;
    color: rgb(0, 0, 0);
}

.feature-img-hover-text {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    color: #fff;
}
.feature-img-hover-text:hover {
    background-color: rgba(0, 0, 0, 0.404);
    transition: all 500ms;
}
/* other products */ 

.other-product-header p {
    margin-top: 8rem;
    border: 2px solid #000;
    display: inline-block;
    background: #000;
    border-radius: 0 50px 50px 0;
    font-size: 18px;
    color: #FFF;
    padding: 10px 70px;
}

.other-products {
    width: 100%;
    height: 450px;
    margin: 5rem auto 10rem auto;
    display: flex;
    justify-content: space-between;
}
.more-info-container {
    width: 40%;
    height: auto;
    padding: 30px;
    background-color: rgb(121, 93, 57);
    border-radius: 5px;
    color: #fff;
}
.more-info-container h3 {
    font-size: 18px;
    color: rgba(255, 255, 255, 0.911);
}
.more-info-container p {
    font-size: 14px;
    margin-top: 2rem;
    line-height: 1.8rem;
    color: rgba(255, 255, 255, 0.719);
}
.other-product-container {
   /* border: 2px solid rgb(255, 0, 0);*/
    width: 50%;
    height: auto;
    background-color: #fff;
}
.first-role {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: space-between;
}
.product-1 {
    width: 100%;
    height: 100%;
    text-align: center;
    background-color: #fff;
    background-image: url('https://atlaslabels.com/wp-content/uploads/2013/09/6PackHalligan.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-indent: -9999px;
    z-index: 1;
}
.product-1:hover {
    background-color: rgb(255, 0, 0);
    cursor: pointer;
    color: black;
    text-indent: 0;
    z-index: 0;
}

.header {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header:hover {
    background-color: rgb(255, 0, 0);
}

.product-2 {
    width: 100%;
    height: 100%;
    text-align: center;
    background-color: #fff;
    background-image: url('https://m.media-amazon.com/images/I/41v4BHYoIqL._AC_SX466_.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-indent: -9999px;
}
.product-2:hover {
    background-color: rgb(250, 93, 93);
    cursor: pointer;
    text-indent: 0;
    z-index: 0;
}


.product-3 {
    width: 100%;
    height: 100%;
    text-align: center;
    background-color: #fff;
    background-image: url('https://www.brenmarco.com/wp-content/uploads/2020/10/disposable-plastic-sanwich-container-260734-2.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-indent: -9999px;
}
.product-3:hover {
    background-color: rgb(250, 93, 93);
    cursor: pointer;
    text-indent: 0;
    z-index: 0;
}
.second-role {
    width: 100%;
    height: 50%;
    display: flex;
}
.product-4 {
    width: 100%;
    height: 100%;
    text-align: center;
    background-color: #fff;
    background-image: url('https://cdnimg.webstaurantstore.com/images/products/large/88631/668826.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-indent: -9999px;
}
.product-4:hover {
    background-color: rgb(250, 93, 93);
    cursor: pointer;
    text-indent: 0;
    z-index: 0;
}
.product-5 {
    width: 100%;
    height: 100%;
    text-align: center;
    background-color: #fff;
    background-image: url('https://www.brenmarco.com/wp-content/uploads/2020/10/rotisserie-chicken-takeout-container-260231.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-indent: -9999px;
}
.product-5:hover {
    background-color: rgb(250, 93, 93);
    cursor: pointer;
    text-indent: 0;
    z-index: 0;
}
.product-6 {
    width: 100%;
    height: 100%;
    text-align: center;
    background-color: #fff;
    background-image: url('https://cdnimg.webstaurantstore.com/images/products/large/88631/668826.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-indent: -9999px;
}
.product-6:hover {
    background-color: rgb(250, 93, 93);
    cursor: pointer;
    text-indent: 0;
    z-index: 0;
}


/* second other products */

.other-product-2-container {
    width: 100%;
    height: 180px;
    margin-bottom: 5rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 20px;
    position: relative;
}
.other-product-2-container .product {
    position: relative;
}
.other-product-2-container .product .product-img-1 {
    background-image: url('https://www.webstaurantstore.com/uploads/seo_category/2021/6/stand-up.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 135px;
    border-radius: 5px;
}
.other-product-2-container .product .product-img-2 {
    background-image: url('https://www.webstaurantstore.com/uploads/seo_category/2020/9/e-tabletop-disposables.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 135px;
    border-radius: 5px;
}
.other-product-2-container .product .product-img-3 {
    background-image: url('https://www.webstaurantstore.com/uploads/seo_category/2020/9/e-janitorial-disposables.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 135px;
    border-radius: 5px;
}
.other-product-2-container .product .product-img-4 {
    background-image: url('https://www.webstaurantstore.com/uploads/seo_category/2021/4/1135344.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 135px;
    border-radius: 5px;
}
.other-product-2-container .product .product-img-5 {
    background-image: url('https://www.webstaurantstore.com/uploads/seo_category/2020/9/e-host-server-supplies.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 135px;
    border-radius: 5px;
}
.other-product-2-container .product .product-img-6 {
    background-image: url('https://www.webstaurantstore.com/uploads/seo_category/2020/9/e-disposable-party-supplies.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 135px;
    border-radius: 5px;
}
.other-product-2-container .product p {
    font-size: 13px;
    font-weight: 500;
    position: absolute;
    bottom: 0; 
    margin: 0 auto;
    left:50%; 
    transform:translate( -50%); 
    width: 100%;
    text-align: center;
    color: rgb(121, 93, 57);
}





/* footer */

.footer-container {
    width: 100%;
    height: 55vh;
    background-color: #000;
    margin-top: 0;
}
.footer-container-2 {
    width: 77%;
    height: 35vh;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding-top: 2rem;
    font-family: 'Poppins', sans-serif;
}
.footer-container-2 .services {
    width: 230px;
    height: 100%;
    padding: 20px;
    color: rgb(255, 255, 255);
    font-family: 'Poppins', sans-serif;
}
.footer-container-2 .services p {
    color: rgba(255, 255, 255, 0.795);
    font-size: 14px;
}
.footer-container-2 .about {
    width: 230px;
    height: 100%;
    padding: 20px;
    color: #fff;
    font-family: 'Poppins', sans-serif;
}
.footer-container-2 .about p {
    color: rgba(255, 255, 255, 0.795);
    font-size: 14px;
}
.footer-container-2 .contact-us {
    width: 230px;
    height: 100%;
    padding: 20px;
    color: #fff;
    font-family: 'Poppins', sans-serif;
}
.footer-container-2 .contact-us p {
    color: rgba(255, 255, 255, 0.795);
    font-size: 14px;
}
.footer-container-2 .privacy {
    width: 230px;
    height: 100%;
    padding: 20px;
    color: #fff;
    font-family: 'Poppins', sans-serif;
}
.footer-container-2 .privacy p {
    color: rgba(255, 255, 255, 0.795);
    font-size: 14px;
}

.copyright {
    color: rgba(255, 255, 255, 0.671);
    text-align: center;
    margin-top: 4rem;
    border-top: 1px solid rgba(255, 255, 255, 0.356);
    width: 80%;
    margin: 3rem auto 0 auto;
    padding-top: 2rem;
    font-size: 13px;
    font-family: 'Poppins', sans-serif;
}

