@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500&display=swap');



.Home-container {
    width: 100%;
    height: 100vh;
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}
.grid-container {
    width: 90%;
    height: 465.5px;
    display: flex;
    justify-content: space-between;
}
.left-container {
    width: 50%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    align-items: center;
}
.left-container .image1 {
    border: 10px solid rgb(121, 93, 57);
    width: 250px;
    height: 250px;
    border-radius: 50%;
    position: absolute;
    bottom: 10rem;
    background-image: url('https://cdnimg.webstaurantstore.com/uploads/seo_category/2020/11/disposable-retail-packaging.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.left-container .image2 {
    border: 10px solid rgb(121, 93, 57);
    width: 200px;
    height: 200px;
    border-radius: 50%;
    position: absolute;
    background-image: url('https://www.roshpack.com/image/cache/catalog/products/Pizza%20Box/13x13x1.5-Generic-Large-Pizza-Box-Brown-Box-270x270.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.left-container .image3 {
    border: 10px solid rgb(121, 93, 57);
    width: 230px;
    height: 230px;
    border-radius: 50%;
    position: absolute;
    left: 30rem;
    background-image: url('//cdnimg.webstaurantstore.com/uploads/images/2019/8/tin-tie-bags.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.left-container .image4 {
    border: 10px solid rgb(121, 93, 57);
    width: 200px;
    height: 200px;
    border-radius: 50%;
    position: absolute;
    left: 20rem;
    bottom: 7rem;
    background-image: url('https://www.dhresource.com/260x260/f2/albu/g10/M00/80/F9/rBVaWV33T4uAA954AALyTDK0hnU205.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.left-container .image5 {
    border: 10px solid rgb(121, 93, 57);
    width: 200px;
    height: 200px;
    border-radius: 50%;
    position: absolute;
    left: 30rem;
    bottom: 14rem;
    background-image: url('https://ae01.alicdn.com/kf/H7c91c61af45f4741a8c2e9946bba1f26I/50pcs-High-quality-black-disposable-coffee-cup-280ml-400ml-500ml-milk-tea-soy-juice-drinking-packaging.jpg_Q90.jpg_.webp');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.left-container .image6 {
    border: 10px solid rgb(121, 93, 57);
    width: 200px;
    height: 200px;
    border-radius: 50%;
    position: absolute;
    left: 15rem;
    background-image: url('https://i.pinimg.com/originals/fa/c8/36/fac836867fd1bc4a3ebf2c3d724bf88e.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.right-container {
    border: 2px solid #000;
    width: 40%;
    height: 100%;
}


.side-container {
    background-color: rgb(121, 93, 57);
    width: 40%;
    height: 100vh;
    position: absolute;
    right: 0;
    color: #fff;
    padding: 10px 30px;
    margin-top: 3rem;
}
.side-container h1 {
    text-align: start;
    margin-top: 15rem;
}
.side-container p {
    text-align: start;
    color: rgba(255, 255, 255, 0.808);
    font-size: 16px;
    margin-top: 1.5rem;
}
.high-quality {
    padding: 10px 40px;
    border: none;
    outline: none;
    margin-top: 2rem;
    background-color: rgb(87, 66, 39) ;
    color: #fff;
    border-radius: 50px;
}
.main-container {
    width: 100%;
    height: 100vh;
    background-color: rgb(255, 255, 255);
    padding-top: 7rem;
    font-family: 'Poppins', sans-serif;
}
.feature-container{
    /*border: 2px solid #000;*/
    width: 90%;
    height: 80vh;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: 'Poppins', sans-serif;
}
.feature-1 {
    width: 370px;
    height: 500px;
}
.feature-2 {
    width: 370px;
    height: 500px;
}
.feature-3 {
    width: 370px;
    height: 500px;
}

.feature-1 .feature-1-img {
    background-image: url('https://cdnimg.webstaurantstore.com/uploads/seo_category/2020/10/takeout-food-service-take-out.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 45%;
    border-radius: 5px;
}
.feature-1 .feature-1-text {
    padding: 20px 0 0 0;
}
.feature-1 .feature-1-text h2 {
    font-size: 20px;
    
}
.feature-1 .feature-1-text p {
    font-size: 14.5px;
    color: rgba(0, 0, 0, 0.685);
    
}.feature-1 .feature-1-text span {
    font-size: 14.5px;
    color: green;
}


.feature-2 .feature-2-img {
    background-image: url('https://cdnimg.webstaurantstore.com/uploads/seo_category/2020/11/disposable-bags.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 45%;
    border-radius: 5px;
}
.feature-2 .feature-2-text {
    padding: 20px 0 0 0;
}
.feature-2 .feature-2-text h2 {
    font-size: 20px;
    
}
.feature-2 .feature-2-text p {
    font-size: 14.5px;
    color: rgba(0, 0, 0, 0.685);
    
}.feature-2 .feature-2-text span {
    font-size: 14.5px;
    color: green;
}


.feature-3 .feature-3-img {
    background-image: url('https://cdnimg.webstaurantstore.com/uploads/seo_category/2020/11/food-packaging-wrap.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 45%;
    border-radius: 5px;
}
.feature-3 .feature-3-text {
    padding: 20px 0 0 0;
}
.feature-3 .feature-3-text h2 {
    font-size: 20px;
    
}
.feature-3 .feature-3-text p {
    font-size: 14.5px;
    color: rgba(0, 0, 0, 0.685);
    
}.feature-3 .feature-3-text span {
    font-size: 14.5px;
    color: green;
}

/* feature container second roll */

.feature-container-2{
    /*border: 2px solid #000;*/
    width: 90%;
    height: 80vh;
    margin: 3rem auto 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: 'Poppins', sans-serif;
}
.feature-container-2 .feature-1 {
    width: 370px;
    height: 500px;
}
.feature-container-2 .feature-2 {
    width: 370px;
    height: 500px;
}
.feature-container-2 .feature-3 {
    width: 370px;
    height: 500px;
}

.feature-container-2 .feature-1 .feature-1-img {
    background-image: url('https://www.lavanguardia.com/files/og_thumbnail/uploads/2020/06/08/5ede21e26c137.jpeg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 45%;
    border-radius: 5px;
}
.feature-container-2 .feature-1 .feature-1-text {
    padding: 20px 0 0 0;
}
.feature-container-2.feature-1 .feature-1-text h2 {
    font-size: 20px;
    
}
.feature-container-2 .feature-1 .feature-1-text p {
    font-size: 14.5px;
    color: rgba(0, 0, 0, 0.685);
    
}
.feature-container-2 .feature-1 .feature-1-text span {
    font-size: 14.5px;
    color: green;
}


.feature-container-2 .feature-2 .feature-2-img {
    background-image: url('https://i5.walmartimages.com/asr/11b42486-e431-4dee-8a1b-8d7f7d1f40f4.04f32b42a9c5e975d1316b9c6417dfc2.jpeg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 45%;
    border-radius: 5px;
}
.feature-container-2.feature-2 .feature-2-text {
    padding: 20px 0 0 0;
}
.feature-container-2 .feature-2 .feature-2-text h2 {
    font-size: 20px;
    
}
.feature-container-2 .feature-2 .feature-2-text p {
    font-size: 14.5px;
    color: rgba(0, 0, 0, 0.685);
    
}
.feature-container-2 .feature-2 .feature-2-text span {
    font-size: 14.5px;
    color: green;
}


.feature-container-2 .feature-3 .feature-3-img {
    background-image: url('https://english.nna.jp/uploads/english_article_image/image/21716/show_image-1604462808845.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 45%;
    border-radius: 5px;
}
.feature-container-2 .feature-3 .feature-3-text {
    padding: 20px 0 0 0;
}
.feature-container-2 .feature-3 .feature-3-text h2 {
    font-size: 20px;
    
}
.feature-container-2 .feature-3 .feature-3-text p {
    font-size: 14.5px;
    color: rgba(0, 0, 0, 0.685);
    
}
.feature-container-2 .feature-3 .feature-3-text span {
    font-size: 14.5px;
    color: green;
}


/* other products */ 

.other-product-header {
    margin-top: 8rem;
}

.other-products {
    width: 90%;
    height: 450px;
    margin: 0 auto 10rem auto;
    display: flex;
    justify-content: space-between;
}
.more-info-container {
    width: 40%;
    height: auto;
    padding: 30px;
    background-color: rgb(121, 93, 57);
    border-radius: 5px;
    color: #fff;
}
.more-info-container h3 {
    font-size: 18px;
    color: rgba(255, 255, 255, 0.911);
}
.more-info-container p {
    font-size: 14px;
    margin-top: 2rem;
    line-height: 1.8rem;
    color: rgba(255, 255, 255, 0.719);
}
.other-product-container {
   /* border: 2px solid rgb(255, 0, 0);*/
    width: 50%;
    height: auto;
    background-color: #fff;
}
.first-role {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: space-between;
}
.product-1 {
    width: 100%;
    height: 100%;
    text-align: center;
    background-color: #fff;
    padding-top: 1.5rem;
    background-image: url('https://atlaslabels.com/wp-content/uploads/2013/09/6PackHalligan.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.product-2 {
    width: 100%;
    height: 100%;
    text-align: center;
    background-color: #fff;
    padding-top: 1.5rem;
    background-image: url('https://m.media-amazon.com/images/I/41v4BHYoIqL._AC_SX466_.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.product-3 {
    width: 100%;
    height: 100%;
    text-align: center;
    background-color: #fff;
    padding-top: 1.5rem;
    background-image: url('https://www.brenmarco.com/wp-content/uploads/2020/10/disposable-plastic-sanwich-container-260734-2.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.second-role {
    width: 100%;
    height: 50%;
    display: flex;
}
.product-4 {
    width: 100%;
    height: 100%;
    text-align: center;
    background-color: #fff;
    padding-top: 1.5rem;
    background-image: url('https://cdnimg.webstaurantstore.com/images/products/large/88631/668826.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.product-5 {
    width: 100%;
    height: 100%;
    text-align: center;
    background-color: #fff;
    padding-top: 1.5rem;
    background-image: url('https://www.brenmarco.com/wp-content/uploads/2020/10/rotisserie-chicken-takeout-container-260231.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.product-6 {
    width: 100%;
    height: 100%;
    text-align: center;
    background-color: #fff;
    padding-top: 1.5rem;
    background-image: url('https://cdnimg.webstaurantstore.com/images/products/large/88631/668826.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}








/* footer */

.footer-container {
    width: 100%;
    height: 55vh;
    background-color: #000;
    margin-top: 0;
}
.footer-container-2 {
    width: 77%;
    height: 35vh;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding-top: 2rem;
    font-family: 'Poppins', sans-serif;
}
.footer-container-2 .services {
    width: 230px;
    height: 100%;
    padding: 20px;
    color: rgb(255, 255, 255);
    font-family: 'Poppins', sans-serif;
}
.footer-container-2 .services p {
    color: rgba(255, 255, 255, 0.795);
    font-size: 14px;
}
.footer-container-2 .about {
    width: 230px;
    height: 100%;
    padding: 20px;
    color: #fff;
    font-family: 'Poppins', sans-serif;
}
.footer-container-2 .about p {
    color: rgba(255, 255, 255, 0.795);
    font-size: 14px;
}
.footer-container-2 .contact-us {
    width: 230px;
    height: 100%;
    padding: 20px;
    color: #fff;
    font-family: 'Poppins', sans-serif;
}
.footer-container-2 .contact-us p {
    color: rgba(255, 255, 255, 0.795);
    font-size: 14px;
}
.footer-container-2 .privacy {
    width: 230px;
    height: 100%;
    padding: 20px;
    color: #fff;
    font-family: 'Poppins', sans-serif;
}
.footer-container-2 .privacy p {
    color: rgba(255, 255, 255, 0.795);
    font-size: 14px;
}

.copyright {
    color: rgba(255, 255, 255, 0.671);
    text-align: center;
    margin-top: 4rem;
    border-top: 1px solid rgba(255, 255, 255, 0.356);
    width: 80%;
    margin: 3rem auto 0 auto;
    padding-top: 2rem;
    font-size: 13px;
    font-family: 'Poppins', sans-serif;
}

